*{
  margin :0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  
}

.header{
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.7),
  rgba(4,9,30,0.7)), 
  url(save_life\ \(1\).png);
  background-position: center;
  background-size: cover;
  position: relative;

}
nav{
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;

}
nav img{
  width: 100px;
  background: none;
}
.nav-links{
  flex: 1;
  text-align: right;
}
.nav-links ul li{
  list-style: none;
  display: inline-block;
  padding: 0px 12px;
  position: relative;
} 
.nav-links ul li a{
  color: #fff;
  text-decoration: none;
}

.nav-links ul li::after{
  content: '';
  width: 0%;
  height: 2px;
  background: #de8983;
  display: block;
  margin: auto;
  transition: 0.3s;
}
.nav-links ul li:hover::after{
  width: 100%;
}
.text-box{
  width: 90%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}
.text-box h1{
  font-size: 62px;
}
.text-box p{
  margin: 10px 0 40px;
  font-size: 14px;
}
.hero-btn{
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 12px 34px;
  background: transparent;
  position: relative;
  cursor: pointer;
}
.hero-btn:hover{
  border: 1px solid #de8983;
  background: #de8983;
  transition: 1s;
  color: #fff;
  text-decoration: none;
}
nav .fa{
  display: none;
}
@media(max-width:700px){
  .text-box h1{
      font-size: 20px;
  }
  .nav-links ul li{
      display: block;
  }
  .nav-links{
      position: fixed;
      background:#de8983;
      height: 100vh;
      width: 200px;
      top: 0;
      right: -200px;
      text-align: left;
      z-index: 2;
      transition: 0.7s;
  }
  nav .fa{
      display: block;
      color: #fff;
      margin: 10px;
      font-size: 22px;
      cursor: pointer;
  }
  .nav-links ul{
      padding: 15px;
  }

}

/* compatible_donor */
.compatible_donor{
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 20px;
}
.table_donors{
  display: flex;
  justify-content: space-between;

}
.h1{
  font-size: 36px;
  font-weight: 600;
}
p{
  color: #777373;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}

.row{
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}

.type-of-don{
  flex-basis: 31%;
  background: #fff3f3;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.5s;

}
h3{
  text-align: center;
  font-weight: 600;
  margin: 10px;
}
h6{
  text-align: center;
  font-weight: 600;
  margin: 25px;
}

.type-of-don:hover{
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);
}

@media(max-width:700px){
  .row{
    flex-direction: column;
  }
  .cta{
    font-size: 24px;
  }
}

.table {
  width: 100%;
  background-color: #fff3f3;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  /* margin-left: 100px; */
}

.table th {
  color: white;
  background-color: rgb(160, 60, 60);
}

.table td,
.table th {
  padding: 8px 12px;
  text-align: center;
}

.table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.table tr:hover {
  background-color: #f1f1f1;
}

.table td:first-child {
  color: #961e1b;
  font-weight: bold;
}
.table-image {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}


.table-col{
  flex-basis: 98%;
  padding: 30px 2px;

}


.table-image img {
  max-width: 100%;
  max-height: 300px;
  border-radius: 5px;
}

.mx-auto {
  margin-left: auto!important;
  
}
.row-bg-none-py-5{
  background-image: linear-gradient(rgba(4,9,30,0.7),
  rgba(4,9,30,0.7)), 
  url(https://media.istockphoto.com/id/1008226094/photo/blood-donation-hand.jpg?s=612x612&w=0&k=20&c=lmCFMuBTkNKCobi8ZcEuZeereohIciHbvg_eEFRhKT4=);
  background-position: center;
  background-size: cover;
}
.testomonials{
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.7),
  rgba(4,9,30,0.7)), 
  url(https://media.istockphoto.com/id/1008226094/photo/blood-donation-hand.jpg?s=612x612&w=0&k=20&c=lmCFMuBTkNKCobi8ZcEuZeereohIciHbvg_eEFRhKT4=);
  background-position: center;
  background-size: cover;
  position: relative;
}
.testi{
  flex-basis: 31%;
  background: #fff3f3;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.5s;
  text-align: center;

}
.testi::after:hover{
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);
}

.cta{
  margin: 100px auto;
  margin-bottom: 20px;
  width: 80%;
  background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),url();
  background-position: center;
  background-size:cover ;
  border-radius: 10px;
  text-align: center;
  padding: 100px o;

}

.cta h1{
  color: #fff;
  margin-bottom: 40px;
  padding: 0;
}

.footer{
  width: 100%;
  text-align: center;
  padding: 30px 0;
}

.footer h4{
  text-align: center;
  margin-bottom: 25px;
  margin-top: 20px;
  font-weight: 600;
}
.icons .fa{
  color: #f44336;
  margin: 0 13px;
  cursor: pointer;
  padding: 18px 0;
}

/* about page css */
.sub-header{
  height: 50vh;
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(https://nbkterracotta.com/wp-content/uploads/2020/03/65447_Blood-Center-Raciborz_IMG_0848-00_ok.jpg);
  background-position: center;
  background-size: cover;
  color: #fff;
  position: relative;
}
.sub-header h1{
  text-align: center;
}

.about-us{
  width: 80%;
  margin: auto;
  padding-top: 80px;
  padding-bottom: 50px;
  
}
.about-col{
  flex-basis: 48%;
  padding: 30px 2px;
}
.about-col img{
  width: 100%;
}

.about-col h2{
  padding: 0;
}
.about-col p{
  padding: 15px 0 25px;
}
.red-btn{
  border: 1px solid #f44336;
  background: transparent;
  color: #f44336;
  align-content: center;
}

.red-btn:hover{
  color: #fff;
}

/* Contact page CSS */

.location{
  width: 80%;
  margin: auto;
  padding: 80px 0;
}

.location iframe{
  width: 100%;
}

.contact-us{
  width: 80%;
  margin: auto;
}
.contact-col{
  flex-basis: 48%;
  margin-bottom: 30px;
}
.contact-col div{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}
.contact-col div .fa{
  font-size: 28px;
  color: #f44336;
  margin: 10px;
  margin-right: 30px;
}

.contact-col div p{
  padding: 0;
}
.contact-col div h5{
  font-size: 20px;
  margin-bottom: 5px;
  color: #555;
  font-weight: 400;
}

.contact-col input, .contact-col textarea{
  width: 100%;
  padding: 15px;
  margin-bottom: 17px;
  outline: none;
  border: 1px solid #ccc;
  box-sizing: border-box;
}


/* Login CSS */
.login{
  width: 80%;
  margin: auto;
  margin-top: 25px;
}

/* Blood-seach*/
.blood-search {
  max-width: 600px;
  margin: 0 auto;
  padding: 50px;
  background-color: #f5f5f5;
}

html {
  scroll-behavior: smooth;
  scrollbar-width: 0px;
}

/* Scroll bar */
/* Track */
::-webkit-scrollbar {
  width: 8px;
}

/* Track Color */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #de8983;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #d82013;
  transition: 0.5s;

}


